.parkour {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 90);
    background-color: white;
    overflow: auto;
    flex-direction: row;
    padding: 2rem 2rem 2rem 4rem;
}

h1.purple {
    font-family: "MuseoModerno", sans-serif;
    font-weight: normal;
    font-size: 100px;
    font-style: normal;
    background: linear-gradient(90deg, #401C9B, #B3B2DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

h2.purple {
    font-family: "MuseoModerno", sans-serif;
    font-weight: normal;
    font-size: 40px;
    font-style: none;
    background: linear-gradient(90deg, #401C9B, #B3B2DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

h3.green {
    font-family: "Sansation", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #7ADB6B;
}

.header {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
}

.bullet-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.bullets {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
}

img.string {
    width: 80%;
    max-width: 25%;
    /* keeps it from blowing up too big */
    height: auto;
    /* preserves aspect ratio */
}

img.parkourComputer {
    width: 80%;
    max-width: 60%;
    /* keeps it from blowing up too big */
    height: auto;
    /* preserves aspect ratio */
}



/*-------Parkour 2 --------*/

.gradientPurple {
    background: linear-gradient(180deg, white, #E8E7F7, #BCBAF1);
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px 10px 10px;
    align-content: center;
    gap: 10rem;
    overflow: auto;
    padding: 10px;
}

h1.greenPurple {
    font-family: "MuseoModerno", sans-serif;
    font-weight: normal;
    font-size: 100px;
    font-style: normal;
    background: linear-gradient(90deg, #7ADB6B, #B3B2DC 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
}
.text-wrap{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    font-style: normal;
    background: linear-gradient(90deg, #7ADB6B, #B3B2DC 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Sansation", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}
.text-wrap text{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    font-style: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Sansation", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

.breakdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    align-content: center;
}

.breakdown h1 {
    font-family: "MuseoModerno", sans-serif;
    font-weight: normal;
    font-size: 160px;
    font-style: normal;
    align-content: center;
}

.count-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.gradient-number {
    background: linear-gradient(to bottom, white 20%, #C1BFF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-attachment: fixed;
}

.text-wrapping {
    display: flex;
    flex-direction: column;
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    width: 337px;
}

img.place {
    width: 700px;
    height: 400px
}


/*--------reflection---------*/

.parkour.reflect {
    height: 100vh;
    background-color: white;
    gap: 2rem;
}

text {
    display: flex;
    flex-direction: column;
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    color: black;
}

.header-wrapper a {
    flex-direction: column;
    margin: 1rem 0 0 0;
    width: max-content;
}


@media screen and (max-width: 1100px) {

    .parkour {
        flex-wrap: wrap;
    }

    h1.purple {
        font-size: 70px;
    }

    .breakdown {
        flex-direction: column;
        gap: 8rem;
    }

}