@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.title-wrap {
  max-width: 700px;
}

.graphic {
  position: absolute;
  bottom: -300px;
  right: 0;
  transform-origin: bottom right;
  overflow: hidden;
  z-index: -10;
  max-width: 50%;
  height: auto;
  display:visible;
}

h1 {
  font-family: "MuseoModerno", sans-serif;
  font-weight: bold;
  font-size: 100px;
  font-style: italic;
}

h1.wordCarousel {
  background: linear-gradient(90deg, #F35130, #E7AF15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: normal;
}

h2 {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.text {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.title.text {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 25px;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255); 

}


.container {
  display: flex;
  justify-content: center;
  margin: auto 0 auto 0;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px 0 0 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 90px);
  align-items: flex-start;
  padding: 0 0 0 4rem;
}

.container.projects {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  overflow-y: auto;
  align-items: flex-start;
  align-content: center;
}

.container.home{
  height:calc(100vh - 100px);
  margin: 0 0 160px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
}

.wave {
  width: 200px;
  height: 120px;
}

.box.description {
  margin-bottom: 15px;
}

.card img {
  width: 100%;
  max-height: fit-content;
  border-radius: 10px;
}

.card.string {
  background-color: #FAA500;
}

.card.pill {
  background-color: #F35130;
}

.card.portal {
  background-color: #6562DF;
}

.card.abroad {
  background-color: #3FBDEF;
}

.line.img {
  scale: 75%;
}

.pgh.img {
  width: 55%;
}

.pill.img {
  width: 60%;
}

.abroad.img {
  width: 100%;
}


.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 150px;
  display: flex;
  z-index: 10;
  font-family: "MuseoModerno", sans-serif;
  font-weight: bold;
  font-size: 100px;
  font-style: italic;
  background: linear-gradient(90deg, #F35130, #E7AF15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: normal;
}

.wordCarousel {
  font-size: 100px;
}

.wordCarousel div li {
  display: block;
  line-height: 150px;
  display: flex;
  align-items: center;
}

.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
  0% {
    margin-top: -600px;
  }

  /* start at line 4 */
  5% {
    margin-top: -450px;
  }

  /* line 3 */
  25% {
    margin-top: -450px;
  }

  30% {
    margin-top: -300px;
  }

  /* line 2 */
  50% {
    margin-top: -300px;
  }

  55% {
    margin-top: -150px;
  }

  /* line 1 */
  75% {
    margin-top: -150px;
  }

  80% {
    margin-top: 0;
  }

  /* line 0 */
  99% {
    margin-top: 0;
  }

  100% {
    margin-top: -600px;
  }

  /* loop back */
}






/*-----scaling-------*/
@media screen and (max-width: 1100px) {
  h1 {
    font-size: clamp(2rem, 10vw, 4rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    font-size: clamp(1rem, 6vw, 2rem);
  }

  .text {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }

  .card {
    width: 400px;
    height: 400px;
  }

  .wordCarousel {
    font-size: 80px;
  }

  .wordCarousel div {
    font-size: 50px;
  }

  .pgh.img {
    position: relative;
    scale: 93%;
    width: auto;
  }

  .pill.img {
    position: relative;
    scale: fit;
    width: auto;

  }

  .portal.img {
    position: relative;
    scale: 90%;
    width: auto;

  }

  .abroad.img {
    position: relative;
    scale: 100%;
    width: auto;
    padding: 0 0 5px 0;
    border-radius: 10px;

  }

  .card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .pgh.img,
  .pill.img,
  .portal.img,
  .abroad.img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  .container.projects {
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    overflow-y: auto;
    align-items: center;
    align-content: center;
  }
.graphic{
  visibility:hidden;
  opacity:0;

}

.container.home{
  padding: 0 2rem 0 2rem;
  gap:0;

}

}